<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  <bean id="lifeBean" class="BeanLife.LifeBean" 
        init-method="initBean" destroy-method="destroyBean">
      <property name="conn" value="connection"/><!-- 项目中要用 ref 引用 -->
  </bean>
  
</beans>