<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

           <!-- 带连接池功能的org.apache.commons.dbcp.-->
 <bean id="DriverManagerDataSource"
       class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   <property name="driverClassName"><value>com.mysql.jdbc.Driver</value></property>
   <property name="url"><value>jdbc:mysql://localhost:3306/test</value></property>
   <property name="username"><value>root</value></property>
   <property name="password"><value></value></property>
 </bean>
 
 <bean id="UserDaoImpl" class="JdbcTemplate.UserDaoImpl">
   <property name="dataSource"><ref bean="DriverManagerDataSource"/></property>
 </bean>

</beans>