<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  <bean id="dbBean" class="DBFactory.DBBean">
      <property name="driver" value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://localhost:3306/test" />
      <property name="user" value="root"/>
      <property name="password" value=""/>
  </bean>

<bean id="dbManager" class="DBFactory.DBManager">
  <lookup-method name="linkedDB" bean="dbBean" />
</bean>

</beans>